<div class="login-container">
    <mat-card class="login-card">
        <mat-card-title class="text-center">Kyçu në llogari</mat-card-title>
        <form [formGroup]="loginForm">
            <mat-form-field appearance="outline"
                            class="full-width">
                <mat-label>Email</mat-label>
                <input matInput
                       type="email"
                       placeholder="Jepni emailin tuaj"
                       formControlName="email" />
            </mat-form-field>

            <mat-form-field appearance="outline"
                            class="full-width">
                <mat-label>Password</mat-label>
                <input matInput
                       type="password"
                       placeholder="Jepni fjalëkalimin tuaj"
                       formControlName="password" />
            </mat-form-field>

            <button mat-raised-button
                    color="primary"
                    class="full-width"
                    (click)="login()">Hyr</button>
            <!-- <div class="register-container">
                <span>Don't have an account? </span>
                <a routerLink="/register"
                   class="register-link">Register</a>
            </div> -->

        </form>
    </mat-card>
</div>