<div class="auth-container">
    <mat-card class="auth-card">
        <mat-card-title class="text-center">Register</mat-card-title>
        <form [formGroup]="form">
            <mat-form-field appearance="outline"
                            class="full-width">
                <mat-label>Emri</mat-label>
                <input matInput
                       type="text"
                       formControlName="username" />
            </mat-form-field>

            <mat-form-field appearance="outline"
                            class="full-width">
                <mat-label>Email</mat-label>
                <input matInput
                       type="text"
                       formControlName="email" />
            </mat-form-field>


            <!-- <mat-form-field appearance="outline"
                            class="full-width">
                <mat-label>Telefon</mat-label>
                <input matInput
                       type="text"
                       formControlName="phone" />
            </mat-form-field> -->


            <!-- <mat-form-field appearance="outline"
                            class="full-width">
                <mat-label>Adresa</mat-label>
                <input matInput
                       type="text"
                       formControlName="address" />
            </mat-form-field> -->

            <mat-form-field appearance="outline"
                            class="full-width">
                <mat-label>Fjalëkalimi</mat-label>
                <input matInput
                       type="password"
                       formControlName="password" />
            </mat-form-field>

            <button mat-raised-button
                    color="primary"
                    class="full-width"
                    (click)="register()">Regjistrohu</button>
        </form>

        <!-- <div class="redirect-container">
            <span>Already have an account?</span>
            <a routerLink="/login"
               class="redirect-link">Login</a>
        </div> -->
    </mat-card>
</div>