<div class="product-container">
    <!-- Header Section -->
    <div class="header">
        <h2 class="title">Të gjithë klientët</h2>
        <div class="button-container">
            <button mat-raised-button
                    color="primary"
                    class="admin-btn"
                    (click)="admin()">Profili</button>
            <button mat-raised-button
                    color="warn"
                    class="logout-btn"
                    (click)="logout()">Dil</button>
        </div>
    </div>

    <!-- Statistic Cards -->
    <div class="stats-container">

        <div class="stat-card new-customers">
            <div class="card-header">
                <span class="card-title">Numri i Klientëve</span>
                <mat-icon>group</mat-icon>
            </div>
            <h3>{{filteredClients.length }}</h3>
            <div class="progress-bar">
                <div class="progress"
                     style="width: 100%; background-color: #1e88e5;"></div>
            </div>
        </div>

        <div class="stat-card earning">
            <div class="card-header">
                <span class="card-title">Shuma Totale e Pagesave</span>
            </div>
            <h3>€{{paymentCalculate() | number:'1.2-2'}}</h3>
            <div class="progress-bar">
                <div class="progress"
                     style="width: 100%; background-color:  #43a047;"></div>
            </div>

        </div>

        <div class="stat-card earning">
            <div class="card-header">
                <span class="card-title">Shuma Totale e Borxheve</span>
            </div>
            <h3>€{{debtCalculate() | number:'1.2-2'}}</h3>
            <div class="progress-bar">
                <div class="progress"
                     style="width: 100%; background-color: #fb0000;"></div>
            </div>
        </div>
    </div>

    <div class="add-button">
        <button mat-fab
                color="primary"
                (click)="addClient()">
            <mat-icon>add</mat-icon>
        </button>
        <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="Emri i Klientit"
                   [(ngModel)]="searchText"
                   (input)="filterClients()">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="Viti"
                   [(ngModel)]="selectedYear"
                   (input)="filterClients()">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Filtrimi</mat-label>
            <mat-select [(value)]="filterType"
                        (selectionChange)="filterClients()">
                <mat-option value="all">Të gjithë</mat-option>
                <mat-option value="debt">Klientë me Borxh</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <table class="product-table">
        <thead>
            <tr>
                <th>Emri</th>
                <th>Mbiemri</th>
                <th>Pagesa (€)</th>
                <th>Borxhi (€)</th>
                <th>Telefoni</th>
                <th>Përshkrim</th>
                <th>Krijuar më</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of filteredClients">
                <td style="background-color: #ffcccb;"
                    *ngIf="client.debt !== 0">
                    {{ client.name }}
                </td>
                <td style="background-color: #ffffff;"
                    *ngIf="client.debt === 0">
                    {{ client.name }}
                </td>
                <td>{{ client.surname }}</td>
                <td>{{ client.payment | number:'1.2-2'}}</td>
                <td>{{ client.debt | number:'1.2-2'}}</td>
                <td> <a [href]="'tel:' + client.phone"
                       style="text-decoration: none;color:black">{{ client.phone }}</a></td>
                <td class="description-cell">{{ client.description }}</td>
                <td>{{ client.date_created| date:'dd/MM/yyyy'}}</td>
                <td>
                    <button mat-icon-button
                            color="primary"
                            (click)="editClient(client.id!)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button
                            color="primary"
                            (click)="openInvoice(client.id!)">
                        <mat-icon>description</mat-icon>
                    </button>
                    <button mat-icon-button
                            color="warn"
                            (click)="deleteClient(client.id!)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>